<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="FoxRestAPISuite">
<listeners>
	<listener class-name="com.foxapi.utilities.Listeners" />
</listeners>
	<test thread-count="5" name="stepDefinitions.Steps">
		<classes>
			<class name="" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->